# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
defaults: &defaults
  PUBLISHABLE_KEY:pk_test_Fz4IQoBNYlipeTIGBxuVfopu
  SECRET_KEY:sk_test_nFlhce6sSHDO0KKOayEJDv3

development:
  secret_key_base: 593f9f929eca617185b6b200c0a875b487038248f64fd780a9353919fc0ff6271dc303cb0a861e30830d04935748148bcfa0092f9c1cb2372523b3eceae7a5c6
  <<: *defaults

test:
  secret_key_base: 32a4d0ac07c889076b2e7e79c40581b52fbea64702849bb67dc2b6a2bfd1637a3619561ea6187bf4a1953763ecd48339c1945ca0e2e40baaf7c328e6a911749c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
